<div class="sprate-box ">
  <div class="full-offer">
    <div class="top-heading">
      <h2>MANAGE PASSWORD</h2>
      <div class="close-icon">
        <button mat-button mat-dialog-close ><i class="material-icons">clear</i></button>
      </div>
    </div>
  </div>
        <div class="option-field">
          <div class="control-field">
            <mat-form-field class="cs-input">
              <input matInput placeholder="Previous Password" name="name" [(ngModel)]="this.previous_password" #name="ngModel" required readonly>
            </mat-form-field>
          </div>
          </div>
          <div class="option-field">
            <div class="control-field">
              <mat-form-field class="cs-input">
                <input matInput placeholder="Enter Password" name="password" 
               [(ngModel)]="data.password" #password="ngModel" required>
              </mat-form-field>
            </div>
          </div>

          <div class="option-field">
            <div class="control-field">
              <mat-form-field class="cs-input">
                <input matInput placeholder="Confirm Password" name="confirm_password" 
               [(ngModel)]="data.confirm_password" #confirm_password="ngModel" required>
              </mat-form-field>
            </div>
          </div>

        <div class="save un-save mt15 mb15 ">
            <button mat-raised-button  (click)="Save_password()" color="accent">Save</button>
           </div>
         
  </div>