<!-- <div class="all-modules"> -->
    
    
  <mat-dialog-content>
      
      <!-- <div class="gift-box product-img " >  
          <div class="form-area"> -->
              <img src="{{data.img_url}}">
              <!-- <a href="{{uploadUrl+part_data.id}}" download target="_blank" ><i class="material-icons">get_app</i></a> -->
          <!-- </div> -->
          <!-- <button mat-button [mat-dialog-close]="false" ><i class="material-icons">clear</i></button> -->
      <!-- </div> -->
  </mat-dialog-content>
<!-- </div> -->