<div class="container hp100" *ngIf="!offer_id">
  <form class="hp100" name="addOffer" (ngSubmit)="f.form.valid" #f="ngForm" novalidate autocomplete="off">
        <div class="row">
              <div class="col s12 ">
                <div class="sprate-box no-shadow">
                  <div class="full-offer">
                    <div class="top-heading">
                      <h2 *ngIf="mode != 'edit'"> ADD GIFT</h2>
                      <h2 *ngIf="mode == 'edit'"> EDIT GIFT</h2>
                      <button mat-button mat-dialog-close ><i class="material-icons">clear</i></button>
                    </div>
                  </div>
                  
                  <div class="pt0" style="padding: 10px;">
                    <div class="row">
                      <div class="col s6">
                        <div class="option-field">
                          <div class="control-field">
                            <mat-form-field class="cs-input">
                              <input matInput placeholder="Gift Title" name="gift_title" [(ngModel)] = "gift.gift_title" #gift_title="ngModel"  >
                            </mat-form-field>  
                          </div>
                        </div>
                      </div>
                      
                      <div class="col s6">
                        <div class="option-field">
                          <div class="control-field">
                            <mat-form-field class="cs-input">
                              <input matInput placeholder="Points" name="coupon_points" [(ngModel)] = "gift.coupon_points" #coupon_points="ngModel" (keypress)="numeric_Number($event)">
                            </mat-form-field>  
                          </div>
                        </div>
                      </div>
                      
                    </div>
                    
                    <div class="row">
                      <div class="col s12">
                        <div class="option-field">
                          <h4>Specification</h4>
                          <div class="control-field">
                            <app-ngx-editor height="129px" class="h115" minHieght="50px" [placeholder]="'Gift Specification '" [spellcheck]="true"  [(ngModel)]="gift.gift_specification"  #gift_specification="ngModel" name="gift_specification"></app-ngx-editor>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="row mb0">
                      <div class="col-12">
                        <div>
                          <p>Upload  Image</p>
                          <div class="uploade-image">
                          <ul>
                          <li *ngFor="let row of selected_image; let i=index">
                            <img [src]="row.image" >
                            <span class="cancel-icon">
                                <i class="material-icons crose-icon " (click)="deleteProductImage(i)">clear</i>
                            </span>									
                          </li>
                          <li>
                              <label>
                                <input type="file" (change)="onUploadChange($event)" style="display:none;" accept=".png, .jpg, .jpeg" multiple />
                                <div class="other">
                                  <i class="material-icons add-file-icon">add</i>
                                </div>
                              </label>
                          </li>
                          </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-fix-btn">
              <button *ngIf="mode != 'edit'" mat-raised-button (click)="addgiftList()" color="accent" class="whiteColor">Save</button>
              <button *ngIf="mode == 'edit'" mat-raised-button (click)="giftEdit()" color="accent" class="whiteColor">Update</button>
            </div>
          </form>
        </div>
        
        
        